@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1360px;
    padding: 0 20px;
    margin: 0 auto;
}

body{

    font-family: 'Poppins', sans-serif;
}

:root{
    --main-silver:#2d393f;
    --main-p-color: #8F95A5;
    --main-white:white;
    --main-dark-silver:#263238;
    --main-little-silver:#F5F5F5;
}


/* style for header */
.navigation{
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin-top: 20px;
}

body,html{
    scroll-behavior: smooth;
}

.navigation-ul{
    list-style: none;
    display: flex;
    gap: 40px;
    
}

.navigation-a{
    text-decoration: none;
    color: var(--main-silver); 
    position: relative;
    
}

.navigation-a:hover::after{
    width: 100%;
    background-color:var(--main-silver) ;
    transition: all 0.5s;
}

.navigation-a::after{
    content:" ";
    position: absolute;
    bottom: 0;
    left: 0;
    top: 29px;
    height: 3px;
    width: 0;
    display: inline-block;
    background-color: var(--main-silver);
    border-radius: 70px;

}

.navigation-right-a{
    text-decoration: none;
    color: var(--main-silver);
    border: 2px solid #263238;
    padding: 17px 57px;
    font-weight: 400;
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: all 0.5s;
}

.navigation-right-a:hover{
    background-color: var(--main-silver);
    color: white;
}

/* end of header's style */


/* style for first-section  */

.first-h2{
    font-size: 64px;
    display: inline-block;
}

.first-p{
 color: var(--main-p-color);
 font-weight: 400;
 font-size: 24px;
 line-height: 36px;
 width: 550px;
 margin-top: 50px;
}

.img-of-lamp{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 40px;
}

.first-a-in-section{
    text-decoration: none;
    color: var(--main-silver);
    padding: 32px 117px;
    border: 2px solid #263238;
    margin-top: 50px;
    display: inline-block;
    color: white;
    background-color: var(--main-silver);
    border-radius: 15px;
    font-size:36px;
    transition: all 0.5s;
}

.first-a-in-section:hover{
    background-color: var(--main-white) ;
    color: var(--main-silver);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.first-section-left-box{
    width: 632px;
}

.div-for-section-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

/* end-of-first-section */


/* style-for-second-section */

.img-of-two-boys{
    display: block;
    padding-top: 40px;
}

.first-h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    text-align: center;
    margin: 150px 0 100px 0;
}

h4{
    color: var(--main-dark-silver);
    font-weight: 600;
    font-size: 30px;
    line-height: 80px;
    padding-left: 20px;
    
}

.second-section-p{
    color: var(--main-p-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 347px;
    margin-bottom: 30px;
    padding-left: 20px;
}

.button-of-second-section{
    width: 230px;
    height: 60px;
    border-radius: 5px;
    color: var(--main-white);
    font-size: 18px;
    background-color: var(--main-silver);
    font-family: 'Poppins'; 
    margin-left: 20px;
    margin-bottom: 20px;
}

.button-of-second-section:hover{
    background-color: var(--main-white) ;
    color: var(--main-silver);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
}

.small-box-1-of-second-section{
    width: 435px;
    height: 894px;
    background-color: var(--main-little-silver) ;
}

.img-of-keyboard{
    display: inline-block;
    padding-top: 4;
    margin-left: 90px;

}

.small-box-2-of-second-section{
    background-color: var(--main-little-silver);
    width: 434px;
    height: 560px;
}

.second-section-p-2{
    color: var(--main-p-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 400px;
    margin-bottom: 15px;
    padding-left: 20px;
}

.img-of-bookshelves{
    padding-top: 45px;
    

}


.small-box-3-of-second-section{
    background-color: var(--main-little-silver);
    display: flex;
    width: 874px;
    height: 314px;
    justify-content: space-between;
    justify-items: center;
    position: absolute;
    top: 580px;
    left: 445px;
}

.div-for-second-section-flex{
    display: flex;
    position: relative;
    gap: 20px;
}

/* end-of-second-section */




/* style-for-third-section */

.second-h3{
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #000000;
    margin: 150px 0 23px 0;
}

.third-section-p{
    color: var(--main-p-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 635px;
    margin-bottom: 30px;
}

.for-number-p{
    display: block;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
    /* margin-left: 25px; */
}

.third-section-p-2{
    color: var(--main-p-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 635px;
    margin-bottom: 30px;
    
}

.small-box-in-left{
    display: flex;
    width: 600px;
    gap:70px ;
}

.small-boxes-in-left{
    width: 100px;
   
}

.third-section-p-3{
    color: var(--main-p-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 635px;
    margin-bottom: 30px;
    margin-left: 17px;
}

.for-number-p-2{
    display: block;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
    margin-left: 20px;
}

.flex-for-third-section{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.right-box-in-third-section{
    margin-top: 100px;
}


/* end-of-third-section */




/* style-for-fourth-section */


.box-in-price{
    display: flex;
    align-items: center;
    height: 30px;
    width: 240px;
    justify-content: center;
    gap: 8px;
    background-color: var(--main-little-silver);
    border-radius: 5px;
}

.fourth-section-p{
    color: var(--main-p-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 7px 0;
    
    
}

.img-of-price{
    padding: 6px;
    padding-left: 18px;
}

.flex-for-fourth-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


/* end-of-fourth-section */






/* style-for-fifth-section */




.fifth-section-p{
    color: var(--main-p-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding: 7px 0;
    width: 776px;
}

input{
    width: 450px;
    height: 80px;
    padding: 26px 0 26px 33px;
    border: 1px solid #8F95A5;
    border-radius: 10px;
}

.fifth-section-button{
    width: 264px;
    height: 80px;
    border-radius: 10px;
    color: var(--main-white);
    font-size: 20px;
    background-color: var(--main-silver);
    font-family: 'Poppins';    
    transition: all 0.5s;
}


.fifth-section-button:hover{
    background-color: var(--main-white) ;
    color: var(--main-silver);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.small-fifth-right-div{
    display: flex;
    gap: 12px;
    margin-top: 52px;
}

.flex-for-fifth-section{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
}

.fifth-section-left-box{
    margin-top: 70px;
}

/* end-of-fifth-section */





/* style-for-footer */


.footer-p{
    color: var(--main-p-color);
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding: 58px 20px 58px 0;
}


.line{
    width: 100%;
    height: 1px;background-color: var(--main-p-color);
    margin-top: 200px;
}

.flex-for-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.left-box-footer{
    padding: 31px 0 64px 0;
}

/* end-of-footer */